.Header {
  z-index: 100;
  background-color: #1a1c1f;
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.Header button {
  width: 80px;
  color: #eee;
  background-color: #1a1c1f;
  border: 2px solid grey;
  border-radius: 7px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}
